.ukcnt {
  /*border: 2px solid black;*/
}

#websitebody1 {
  height: unset;
  width: unset;
}

.card {
  background-color: #ffffff;
  padding: 15px;
}

.card h1 {
  text-align: center;
}

.card h2 {
  text-align: center;
}

.card p {
  text-align: justify;
}

.card li {
  text-align: justify;
}

.cardcnt {
  background-color: #ffffff;
  text-align: center;
}

#intro1 {
  text-align: center;
  background-color: #deebf7;
}

#intro1 h1 {
  font-size: 40px;
  line-height: 60px;
}

#photo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#photo1 img {
  width: 40vw;
}

@media screen and (min-width: 768px) {

  #photo1 {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: unset;
  }

  #photo1 img {
    height: 30vh;
    width: unset;
    max-height: 300px;
  }

  #summary1 {
    background-color: #f2f2f2;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card p {
    width: 70vw;
    max-width: 1000px;
  }

  .card li {
    align-items: center;
    width: 70vw;
    max-width: 1000px;
  }
}
