.ukcnt {
  /*border: 2px solid black;*/
}

#websitebody1 {
  height: unset;
  width: unset;
}

.card {
  background-color: #ffffff;
  padding: 15px;
}

.card h1 {
  text-align: center;
}

.card h2 {
  text-align: center;
}

.cardcnt {
  background-color: #ffffff;
  text-align: center;
}

#intro1 {
  text-align: center;
  background-color: #deebf7;
}

#intro1 h1 {
  font-size: 40px;
  line-height: 60px;
}

#photo1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

#photo1 img {
  width: 40vw;
}
